In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/top-1m.csv',index_col=0,names=['url'])
print(df.shape)
df.head()

(1000000, 1)

             url
1     google.com
2    youtube.com
3   facebook.com
4      baidu.com
5  wikipedia.org

In [18]:
df['dom'] = df.url.apply(lambda x: ".".join(x.split('.')[-1:]))
df.head()

             url  dom
1     google.com  com
2    youtube.com  com
3   facebook.com  com
4      baidu.com  com
5  wikipedia.org  org

In [23]:
df_dom = pd.DataFrame(df.dom.value_counts())
df_dom

                   dom
com             467695
org              48898
ru               42787
net              42005
de               39460
uk               22971
br               18109
pl               17692
it               15807
ir               13132
fr               12701
in               11099
es               11083
au                8937
info              8660
cz                8596
jp                8476
nl                6934
ua                6871
co                5997
cn                5670
eu                5521
ca                5505
io                5417
tw                5129
gr                4945
ch                4839
kr                4722
mx                4641
se                4625
...                ...
guitars              1
kpn                  1
teva                 1
rodeo                1
xn--h2brj9c          1
degree               1
miami                1
off                  1
ryukyu               1
furniture            1
mobile               1
schmidt              1
nr                   1
lr                   1
forex                1
lawyer               1
mom                  1
coupons              1
cuisinella           1
accountants          1
yahoo                1
vi                   1
archi                1
anz                  1
rehab                1
abb                  1
axa                  1
republican           1
xn--6qq986b3xl       1
viajes               1

[777 rows x 1 columns]

In [ ]:
df_dom[df_dom.dom.isin('ru','de','uk','jp','')]